{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title> 树莓科技欢迎您 </title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static "css/wifi-config.css" %}">
</head>
<body>

  <div class="pic">
    <div class="wifi"></div>
  </div>
  <div class="tips">
    <ul style="list-style: none;padding: 0px ">
      <li>1. 确定手机已连接WiFi</li>
      <li>2. 请长按设备上的配置按钮</li>
      <li>3. 请等待WiFi配置指示灯闪烁后松开</li>
    </ul>
  </div>
  <div class="action">
    开始配置
  </div>


</body>

<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        },
    });
    //上方为Django-Ajax-CSRF设置

    let wxStatus = 0

    $(document).ready(function () {

        $.ajax({
            type: 'post',
            //url: "http://wx.zhoukuniyc.top/wx/activity", // class activity设置的链接
            url: location.href.split('#')[0], // class activity设置的链接
            //data: JSON.stringify({'url': encodeURIComponent(location.href.split('#')[0])}),
            data: JSON.stringify({'url': (location.href.split('#')[0])}),
            headers: {'Content-Type': 'application/json'},
            success: function (res) {
                console.log(res)
                wx.config({
                    beta: true,
                    debug: true,
                    //appId: 'wxc4891c2115ab065e',//测试账号
                    appId: 'wx7a54e2832a3c92e4',
                    timestamp: res['timestamp'],
                    nonceStr: res['nonceStr'],
                    signature: res['signature'],
                    jsApiList: ['configWXDeviceWiFi', 'scanQRCode']
                });
                wx.error(function (res) {
                    wxStatus = 2
                });


            },
            error: function (res) {

            }
        });

    })

    !function () {
        function configWiFi() {
            wx.invoke('configWXDeviceWiFi', {}, function (res) {
                console.log(res)
                if (res.err_msg == 'configWXDeviceWiFi:ok') {
                    alert('配置成功!');
                    wx.closeWindow();
                } else {
                    alert('配置失败！请重试' + res.err_msg);
                }
            });
        }

        wx.ready(function () {
            $('.action').click(function () {
                configWiFi();
            });
        });

    }();
</script>
</html>